<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">

    <title>Help</title>
     <link rel="icon" href="/img/picslinksmead.png">
</head>
<body>
    {{!-- link to partial --}}
    <div class="main-content">
        {{>navbar}}
    {{>header}} 
   <form>
    <label for="name"></label>
    <input type="text" placeholder="Full Name">
    <input type="text" placeholder="Email Adrress">
    <input type="text" placeholder="Phone Number">
    <button type="submit">Submit</button>

   </form>
    <p>{{message}}</p>
    </div>
    {{>footer}}
    
</body>
</html>